<div>
  <mat-toolbar color="primary">
    <mat-icon>wb_sunny</mat-icon>
    <span>Storm.ly</span>
    <span class="example-spacer">
    </span>

    <div>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>facebook</mat-icon>
      </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>instagram</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
