<div>
  <app-title [title]="'Co nas wyróżnia'"></app-title>


  <div class="reasons">
    <app-reason [reasonName]="'Powód 1'" [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'" [icon]="'favorite'"></app-reason>
    <app-reason [reasonName]="'Powód 2'" [description]="'Sodales neque sodales ut etiam sit amet.'" [icon]="'home'"></app-reason>
    <app-reason [reasonName]="'Powód 3'" [description]="'Malesuada fames ac turpis egestas integer eget aliquet nibh.'" [icon]="'home'"></app-reason>

  </div>
</div>
