<div class="container">
  <app-title [title]="'O firmie'"></app-title>


  <span class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac odio tempor orci dapibus ultrices in. Accumsan sit amet nulla facilisi. Viverra justo nec ultrices dui sapien eget mi. Mi proin sed libero enim sed faucibus turpis in. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Nunc sed id semper risus in hendrerit gravida.
  </span>

  <button mat-raised-button color="primary">Kontakt</button>

</div>
